body {
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 600px;
  background-color: #eedf09;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

h1 {
  font-size: 18px;
}

input, button {
  margin: 5px 0;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: antiquewhite;
  border-radius: 5px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  font-weight: bold;
}

th {
  color: #ddd;
}

th {
  background-color: #0652c4;
}

img {
  border-radius: 5px;
}

img.zoom {
  transition: transform 0.2s; 
}

img.zoom:hover {
  transform: scale(2.5); 
}


button {
  border-radius: 5px;
  background-color: #0652c4;
  color: #f0f8ff;
  width: 50%;
}